<!-- Footer Start -->
<footer id="footer">
  <p class="cLoc">
    <!-- <span ng-show="isTT" ng-bind="'ttFooter.currentPage'|translate" style="font-weight:bold;" class="ng-hide">Página atual: </span> -->
    <span ng-bind="currentLoc"></span>
    <span class="version-string" aria-hidden="true">
      <span class="title">Versão: </span>
      <span ng-bind="versionNumber">7.14.13</span>
      <!-- <span ng-show="isTT" class="schoolId title ng-hide">Identificação da escola: </span>
          <span ng-show="isTT" ng-bind="friendlyId" class="ng-hide"></span> -->
    </span>
  </p>

  <!-- <div class="histWrap">
        <p class="hist" ng-bind="'ttFooter.history'|translate">Histórico</p>
    </div> -->
  <p>©2021 Carnegie Learning Inc.</p>
</footer>

<!-- end Footer -->
