<div id="header">
  <header class="reportsHeader">
    <h1 id="identity">
      <a href="https://www.qa-cli.com/portal/">
        <div class="logoBlockRep">
          <img class="logo"
            src="https://www.qa-cli.com/apps/k12/7.14.13/sap/modules/tt-header-module/styles/img/cl-circle-white.svg" />
          <span aria-hidden="true">Relatórios</span>
        </div>
      </a>
    </h1>
    <div class="container-menu-right">
      <div class="name">
        <span ng-bind="'index.hello'|translate">Olá</span>,
        <a>
          <span id="name" class="name"> Vinicius Nascimento (QA)</span>
        </a>
      </div>
      <div class="floatingMenu">
        <img src="https://www.qa-cli.com/apps/k12/7.14.13/sap/modules/tt-header-module/img/menu.svg" alt="menu">
      </div>
    </div>
  </header>
</div>

